table, th {
    
    
    background-color: white;
}
td {
    font-weight: bold;
     text-align:center;
    
    
}
 


#one  { background-color: purple;

color: white;
    
}

#two { background-color: olive;

color: white;
    
}

#three { background-color: blue;

color: white;
    
}

#four { background-color: red;

color: white;
    
}

#five { background-color: white;

color: black;
    
}

#six { background-color: white;

color: black;
    
}

#seven { background-color: black;

color: white;
    
}

#eight { background-color: white;

color: black;
    
}

#nine { background-color: white;

color: black;
    
}

#ten { background-color: white;

color: black;
    
}

#eleven { background-color: magenta;

color: white;
    
}
