table, th {
    
    
    background-color: white;
}
td {
    font-weight: bold;
     text-align:center;
    
    
}
 


#one  { background-color: red;

color: white;
    
}

#two { background-color: blue;

font-color: white;
    
}

#3 { background-color: purple;

font-color: white;
    
}

#4 { background-color: purple;

font-color: white;
    
}

#5 { background-color: purple;

font-color: white;
    
}

#6 { background-color: purple;

font-color: white;
    
}

#7 { background-color: purple;

font-color: white;
    
}

#8 { background-color: purple;

font-color: white;
    
}

#9 { background-color: purple;

font-color: white;
    
}

#10 { background-color: purple;

font-color: white;
    
}

#11 { background-color: purple;

font-color: white;
    
}